.mastercontainer{
    margin-left: 300px!important;
}

@media (max-width: 767px){
    .mastercontainer{
        margin-left: 0px!important;
    }
}

.headerwell {
    height: 90px!important;
    padding-top: 20px!important;
    padding-bottom: 20px!important;
    margin-bottom: 0px!important;
    width:150%;
}

.btn-logout{
    width: 100%!important;
    border-right: 3px solid #2e353d!important;
}